.firstCard {
	height: 150px;

	background-size: cover;
	background-image: url(./HomeCover.svg);
}

.pickUp {
	height: 80px;
	background-size: cover;
	background-image: url(https://static.toiimg.com/photo/84826755.cms);
}

.shop {
	height: 80px;
	background-size: 120px, 80px, cover;
	background-image: url(./Glasses.svg);
}
