.jD {
	height: 80px;
	width: 80px;
	background-size: cover;
	background-image: url(https://d3r6kbofdnmd8.cloudfront.net/media/catalog/product/cache/image/1536x/a4e40ebdc3e371adff845072e1c73f37/U/D/UD042GP_jack-daniels-bottled-in-bond_1000.jpg);
}
